$neutral-1: #333333 !default;
$neutral-2: #53565a !default;
$neutral-3: #75787b !default;
$neutral-4: #6d7580 !default;
$neutral-5: #c8c9c7 !default;
$neutral-6: #d9d9d6 !default;
$neutral-7: #f8f8f8 !default;

$gray-3: #828282 !default;

$theme-colors: () !default;

$theme-colors: map-deep-merge(
	(
		neutral-1: $neutral-1,
		neutral-2: $neutral-2,
		neutral-3: $neutral-3,
		neutral-4: $neutral-4,
		neutral-5: $neutral-5,
		neutral-6: $neutral-6,
		neutral-7: $neutral-7,
		gray-3: $gray-3
	),
	$theme-colors
);

@each $color, $value in $theme-colors {
	@include bg-variant('.bg-#{$color}', $value);
}

@each $color, $value in $theme-colors {
	@include text-emphasis-variant('.text-#{$color}', $value);
}
