$neutral-1: #333333 !default;
$neutral-2: #53565A !default;
$neutral-3: #75787B !default;
$neutral-4: #6D7580 !default;
$neutral-5: #C8C9C7 !default;
$neutral-6: #D9D9D6 !default;
$neutral-7: #F8F8F8 !default;

$gray-3: #828282 !default;

$theme-colors: () !default;

$theme-colors: map-deep-merge((
        neutral-1: $neutral-1,
        neutral-2: $neutral-2,
        neutral-3: $neutral-3,
        neutral-4: $neutral-4,
        neutral-5: $neutral-5,
        neutral-6: $neutral-6,
        neutral-7: $neutral-7,
        gray-3: $gray-3
), $theme-colors);

@each $color, $value in $theme-colors {
  @include bg-variant(".bg-#{$color}", $value);
}

@each $color, $value in $theme-colors {
  @include text-emphasis-variant(".text-#{$color}", $value);
}